[submodule "all"]
	path = all
	url = git@github.com:aoindustries/pragmatickm-contact-all.git
[submodule "model"]
	path = model
	url = git@github.com:aoindustries/pragmatickm-contact-model.git
[submodule "servlet"]
	path = servlet
	url = git@github.com:aoindustries/pragmatickm-contact-servlet.git
[submodule "style"]
	path = style
	url = git@github.com:aoindustries/pragmatickm-contact-style.git
[submodule "taglib"]
	path = taglib
	url = git@github.com:aoindustries/pragmatickm-contact-taglib.git
[submodule "view"]
	path = view
	url = git@github.com:aoindustries/pragmatickm-contact-view.git
[submodule "renderer-html"]
	path = renderer-html
	url = git@github.com:aoindustries/pragmatickm-contact-renderer-html.git
[submodule "bom"]
	path = bom
	url = git@aoindustries.github.com:aoindustries/pragmatickm-contact-bom.git
