[submodule "bom"]
  path = bom
  url = git@github.com:ao-apps/pragmatickm-contact-bom.git
  branch = .
[submodule "all"]
  path = all
  url = git@github.com:ao-apps/pragmatickm-contact-all.git
  branch = .
[submodule "model"]
  path = model
  url = git@github.com:ao-apps/pragmatickm-contact-model.git
  branch = .
[submodule "servlet"]
  path = servlet
  url = git@github.com:ao-apps/pragmatickm-contact-servlet.git
  branch = .
[submodule "style"]
  path = style
  url = git@github.com:ao-apps/pragmatickm-contact-style.git
  branch = .
[submodule "taglib"]
  path = taglib
  url = git@github.com:ao-apps/pragmatickm-contact-taglib.git
  branch = .
[submodule "view"]
  path = view
  url = git@github.com:ao-apps/pragmatickm-contact-view.git
  branch = .
